<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yibaieducation.input">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".InitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.InitDataActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.ItemConfigActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.AddPaperActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.AddPaperDetailActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".ui.AddTopicsActivity">
        </activity>
        <activity android:name=".ui.AddTopicsSelectActivity">
        </activity>
        <activity android:name=".ui.SelectInputActivity">
        </activity>
        <activity android:name=".ui.MutiInputActivity">
        </activity>
        <activity android:name=".ui.SimpleAnswerActivity">
        </activity>
        <activity android:name=".ui.InputItemActivity">
        </activity>
        <activity
            android:name=".ui.SelectAccountActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".ui.AddFenluActivity">
        </activity>
        <activity android:name=".ui.CheckSimpleActivity">
        </activity>
        <activity android:name=".ui.AddJiSuanActivity">
        </activity>
        <activity android:name=".ui.IndefiniteSelectActivity">
        </activity>
    </application>

</manifest>